[Unit]
Description=Update Podman Containers from Git
After=network.target

[Service]
Type=oneshot
User=mattjackson  # CHANGE THIS TO YOUR SERVER USER
WorkingDirectory=/home/mattjackson/FedoraServer # CHANGE THIS
ExecStart=/bin/bash /home/mattjackson/FedoraServer/update_containers.sh # CHANGE THIS

[Install]
WantedBy=multi-user.target
