[Unit]
Description=Update Podman Containers from Git
After=network.target

[Service]
Type=oneshot
User=mjackson
WorkingDirectory=/home/mjackson/MacContainers
ExecStart=/bin/bash /home/mjackson/MacContainers/update_containers.sh

[Install]
WantedBy=multi-user.target
